.ConnectionsList__buttonBlock {
  display: flex;
  justify-content: center;
  background-color: $light-gray;
  border-radius: 8px;
  width: min-content;
  margin: 16px auto;
  padding: 12px;
}

.ConnectionsList__button {
  width: 140px;
  color: $black;
  height: auto;
  background: none;
  border: none;
  border-right: 2px solid $dark-orange;
  cursor: pointer;
}

.ConnectionsList__button:last-child {
  border-right: none;
}

.ConnectionsList__button--active {
  color: $dark-orange;
}

.ConnectionsList__buttonCount {
  @include large-text;
  font-weight: 500;
  margin-bottom: -5px;
  line-height: 1;
}

.ConnectionsList__buttonSeparator {
  height: inherit;
  width: 2px;
  background-color: $dark-orange;
}
