.ConnectionsListProfiles__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  padding: 0 65px;
}

.ConnectionsListProfiles__name {
  flex: 1;
  margin: 0 16px;
  overflow: hidden;
}

.ConnectionsListProfiles__buttonFollowIcon {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.ConnectionsListProfiles__buttonUnfollowIcon {
  transform: rotate(45deg);
}

.ConnectionsListProfiles__button[name="Unfollow"] {
  &:hover,
  &:active,
  &:focus {
    color: $dark-gray;
    border-color: $dark-orange;
    background-color: $light-gray;
  }
}

.ConnectionsListProfiles__button[name="Follow"] {
  background-color: $dark-gray;
  color: $white;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    border-color: $dark-orange;
    background-color: $dark-gray;
  }
}
