.ConnectionsListProfiles__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.ConnectionsListProfiles__name {
  flex: 1;
  margin: 0 16px;
  overflow: hidden;
}

.ConnectionsListProfiles__buttonFollowIcon {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.ConnectionsListProfiles__buttonUnfollowIcon {
  transform: rotate(45deg);
}

.ConnectionsListProfiles__button {
  position: relative;
  .ant-spin {
    position: absolute;
    right: 0.4em;
    top: 0.2em;
    transform: scale(0.8);
    filter: saturate(0);
  }
}

.ConnectionsListProfiles__button[name="Unfollow"] {
  &:hover,
  &:active,
  &:focus {
    color: $black;
    border-color: $green;
    background-color: $light-gray;
  }
}

.ConnectionsListProfiles__button[name="Follow"] {
  background-color: $black;
  color: $white;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    border-color: $green;
    background-color: $dark-gray;
  }
}
