.ConnectWallet__loginButton {
  position: relative;
}

.ConnectWallet__spinner {
  position: absolute;
  right: 0.5em;
  top: 0.4em;
}

.ConnectWallet__block {
  display: flex;
}

.ConnectWallet__walletIcon {
  height: 32px;
  padding-right: 8px;
}

.ConnectWallet__userBlock {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ConnectWallet__userTitle {
  font-size: 16px;
  padding-left: 8px;
  font-weight: bold;
}
