.EditRegistration {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0;
}

.EditRegistration__title {
  @include large-text;
  font-weight: bold;
  line-height: 1.2;
}

.EditRegistration__cancel {
  color: $shadow-green !important;
  align-self: end;
}

.EditRegistration__logoutButton {
  margin-top: 16px;
  width: fit-content;
}
