.EditRegistration {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0;
}

.EditRegistration__title {
  @include large-text;
  font-weight: bold;
  line-height: 1.2;
}

.EditRegistration__buttonRow {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.EditRegistration__cancel {
  color: $shadow-green !important;
  justify-content: flex-end;
}

.EditRegistration__logoutButton {
  width: fit-content;
}

.EditRegistration__closeModalButton {
  color: $shadow-green !important;
}

.EditRegistration__header {
  display: flex;
  justify-content: space-between;
}
