.Feed__block {
  background-color: $white;
  border-radius: 25px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 750px;
  height: fit-content;
  margin-right: 15px;
}

.Feed__header {
  display: flex;
  justify-content: space-between;
}
