.LoginModal__loginOptions {
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 175px;
  padding: 20px;
}

.LoginModal__loginMetamask,
.LoginModal__loginTorus {
  @include button($black, $shadow-green, $white, $shadow-green);

  font-weight: bold;
  padding: 6px;
  width: 115px;
}

.LoginModal__loginButton--quickStart {
  margin: 0 auto;
}
