.Login__loginButton {
  position: relative;
}

.Login__spinner {
  position: absolute;
  right: 0.5em;
  top: 0.4em;
}

.Login__block {
  display: flex;
}

.Login__walletIcon {
  height: 32px;
  padding-right: 8px;
}

.Login__userBlock {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Login__userTitle {
  font-size: 16px;
  padding-left: 12px;
  font-weight: bold;
}
