.NewPostImageUpload__urlInputBlock {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-top: 16px;
}

.NewPostImageUpload__icon {
  height: inherit;
}

.NewPostImageUpload__cover {
  background-color: $white;
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 0;
  margin-top: 10px;
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

.NewPostImageUpload__imageBlock {
  position: relative;
}

.NewPostImageUpload__image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.NewPostImageUpload__spinner {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: $gray;
}

.NewPostImageUpload__imageDelete {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 25px;
  width: 25px;

  &:hover {
    cursor: pointer;
  }
}
