.Post__block {
  overflow: hidden;
}

.Post__description {
  @include small-text;
  line-height: 1;
  color: $dark-gray;
}

.Post__header {
  padding: 20px;
  display: flex;
  align-items: center
}

.Post__caption {
  background-color: $dark-gray;
  font-weight: bold;
  color: $white;
  padding: 30px;
  hyphens: auto;
}

.Post__captionTags {
  font-size: 22px;
}
