.Post__block {
  width: 50vw;
  position: relative;
}

.Post__caption {
  margin: 16px 0;
}

.Post__metaBlock {
  cursor: pointer;
}

.Post__metaInnerBlock {
  display: flex;
  align-items: center;
}

.Post__rightCorner {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  top: 24px;
  right: 24px;
}
