.PostMedia__cover {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 550px;
  position: relative;
}

.PostMedia__img {
  width: 100%;
  height: 100%;
  padding-bottom: 16px;
}
