.Profile__block {
  position: absolute;
  top: 0;
  right: -470px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 530px;
  transition: all 0.75s ease;
  padding-bottom: 55px;
}

.Profile__block--showing {
  right: 0px;
}

.Profile__headerBlock {
  background-color: $dark-orange;
  display: flex;
  align-items: center;
  padding: 20px;
  color: $white;
  cursor: pointer;
}

.Profile__headerBackArrow {
  width: 15px;
  margin-right: 30px;
  transform: rotate(0deg);
  transition: all 0.5s ease;
}

.Profile__headerBackArrow--rotate {
  transform: rotate(180deg);
}

.Profile__handle {
  @include large-text;
  @include bold-text;
  background: none;
  border-color: $clear;
  line-height: 1;
}

.Profile__personalInfoBlock {
  display: flex;
  justify-content: space-between;
  padding: 20px 65px;
}

.Profile__avatarBlock {
  display: flex;
  align-items: center;
}

.Profile__personalInfo {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.Profile__personalInfoLabel {
  color: $dark-gray;
  line-height: 1;
}

.Profile__personalInfoLabel--white {
  color: $white;
  line-height: 1;
}

.Profile__name {
  @include large-text;
  @include bold-text;
  background: none;
  border-color: $clear;
  line-height: 1;
}

.Profile__editButton {
  width: 24px;
  height: 24px;
}

.Profile__loginHeaderText {
  @include large-text;
  font-weight: bold;
  color: $dark-gray;
  line-height: 1.3;
}

.Profile__loginTitleText {
  @include large-text;
  font-weight: bold;
  color: $dark-gray;
  line-height: 1.3;
  margin-bottom: 1em;
}
