.Reply__block {
  position: relative;
  margin-bottom: 14px;
  flex-grow: 1;
  background-color: $light-gray;
  padding: 4px;
  border-radius: 5px;
  margin-left: 8px;
  color: $text-gray;
}

.Reply__metaBlock {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Reply__name {
  font-weight: bold;
  margin-left: 10px;
}

.Reply__message {
  margin-left: 38px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
