.SelectHandle__registrations {
  max-height: 30vh;
  overflow: auto;
}

.SelectHandle__footer {
  text-align: center;
}

.SelectHandle__footerBtn {
  text-align: center;
  overflow: auto;
  padding-top: 10px;
}

.SelectHandle__registration {
  border: none;
  width: 100%;
  text-align: left;
  background: none;
  margin-top: 1em;
  cursor: pointer;
  position: relative;

  .UserAvatar {
    margin-right: 0.5em;
  }

  &::after {
    content: url("img/check_unselected.svg");
    position: absolute;
    right: 0;
    transform: scale(0.8, 0.8);
  }
  &.SelectHandle__registration--selected {
    &::after {
      content: url("img/check_selected.svg");
    }
  }
}

.RegisrationModal__changeMode {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 1.1em;
  cursor: pointer;
}

.RegistrationModal__successIcon {
  font-size: 35px;
  margin: -8px 0 8px 0;
}

