@mixin button($background-color, $hover-color, $text-color, $border-color) {
  border-radius: 5px;
  border: 2px solid $border-color !important;
  background-color: $background-color;
  color: $text-color !important;
  cursor: pointer;
  transition: 0.25s linear all;

  &:hover,
  &:active,
  &:focus {
    background-color: $hover-color;
  }
}
