$blue: #61dafb;
$blue-darker: darken($blue, 30%);
$blue-lighter: lighten($blue, 5%);

$white: #fff;
$light-gray: #f0f0f0;
$gray: #d3d3d3;
$dark-gray: #404040;
$text-gray: #7a7a7a;
$black: #111;
$green: #26e990;
$clear: rgba(0, 0, 0, 0);
