// Font Sizes
//
// @include extra-large-text;
//
// For headers and accentuated text:
// <div class="ExtraLargeText">Extra Large Text - font-size: 34px;</div>
// <hr />
//
// @include large-text;
//
// For sub headers and component titles:
// <div class="LargeText">Large Text - font-size: 24px;</div>
// <hr />
//
// @include medium-text;
//
// For body text:
// <div class="MediumText">Medium Text - font-size: 18px;</div>
// <hr />
//
// @include small-text;
//
// For descriptions and minor text:
// <div class="SmallText">Small Text - font-size: 13px;</div>
// <hr />
//
// @include bold-text;
//
// For applying to all font sizes to emphasize text:
// <div class="BoldText">Bold Text - font-weight: 550;</div>
//
// Styleguide Base.font-sizes

@mixin extra-large-text {
  font-family: CaslonGraphique;
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 1px;
}

@mixin large-text {
  font-size: 24px;
}

@mixin medium-text {
  font-size: 18px;
}

@mixin small-text {
  font-size: 12.5px;
}

@mixin bold-text {
  font-weight: 550;
}
