$font-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-monospace: source-code-pro, menlo, monaco, consolas, "Courier New",
  monospace;

@mixin extra-large-text {
  font-size: 34px;
}

@mixin large-text {
  font-size: 24px;
}

@mixin medium-text {
  font-size: 18px;
}

@mixin small-text {
  font-size: 13px;
}

@mixin bold-text {
  font-weight: 550;
}
