.ant-btn.Login__loginButton,
.ant-btn.LoginModal__loginButton {
  @include button($black, $black, $white, $black);

  padding: 0 30px;

  &:hover, &:active, &:focus {
    color: $green !important;
  }
}

.ant-btn.EditRegistration__logoutButton {
  @include button($white, $shadow-green, $black, $shadow-green);

}

.ant-spin-dot-item {
  background-color: $green !important;
}

.ant-spin.Login__spinner,
.ant-spin.LoginModal__spinner {
  padding-left: 8px;
}

.ant-alert.Login__alert {
  margin-right: 8px;
}

.ant-btn.GraphChangeButton {
  height: 27px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.ant-btn.ConnectionsList__button {
  @include button($black, $black, $white, $black);

  border-radius: 0 5px 5px 0;
  height: auto;

  &:hover, &:active {
    color: $green !important;
  }
}

.ConnectionsList__buttonBlock .ant-btn:first-child {
  border-radius: 5px 0 0 5px;
  border-width: 2px 1px 2px 2px;
  border-right: 2px solid $green !important;
}

.ant-btn.ConnectionsList__button--active {
  color: $green !important;
}

.ant-btn.ProfileBlock__editButton {
  @include button($shadow-green, $black, $white, $shadow-green);

  padding: 0 10px;
  font-size: 12px;
  height: 24px;
}

.ant-btn.Feed__newPostButton {
  @include button($shadow-green, $black, $white, $shadow-green);
}

.ant-btn.NewPost__footerBtn {
  @include button($shadow-green, $black, $white, $shadow-green);
}

.ant-input.NewPostImageUpload__urlInput {
  margin: 0 10px;
}

.ant-btn.NewPostImageUpload__urlInputBtn {
  @include button($white, $green, $dark-gray, $shadow-green);
  height: fit-content;
  height: -moz-fit-content;
}

.ant-alert.NewPostImageUpload__alert {
  margin-top: 16px;
}

.anticon.NewPostImageUpload__imageDelete {
  font-size: 20px;
}

.ant-input:focus,
.ant-input:hover {
  border-color: $dark-gray !important;
}

.ant-input:focus {
  box-shadow: none !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $shadow-green !important;
}

.ant-tabs-tab-btn:hover,
.ant-tabs-tab-remove:hover,
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: $shadow-green !important;
}

.ant-tabs-ink-bar {
  background: $shadow-green !important;
}

a {
  color: $shadow-green !important;
}

.ant-card.Post__block {
  margin: 8px 0;
  width: auto;
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0 !important;
}

.ant-input.ReplyInput__input {
  border: none;
}

.ant-input.ReplyInput__input:focus {
  box-shadow: none !important;
}

.slick-dots {
  bottom: -6px !important;

  &>* {
    height: 15px !important;

    button {
      height: 15px !important;
      border-radius: 5px !important;
      background: $shadow-green !important;
    }
  }
}

.ant-input.NewPost__textArea {
  @include medium-text;
  border: none;
  margin-left: 5px;
  flex-grow: 1;

  &:active, &:focus, &:focus-visible {
    border: none;
    box-shadow: none !important;
  }
}

.ant-modal-body {
  border-top: none;
  border-bottom: 2px solid $black;
}

.ant-modal.NewPost {
  border-radius: 10px;
}

.ant-btn.SelectHandle__footerBtn,
.ant-btn.CreateRegistration__footerBtn {
  @include button($shadow-green, $black, $white, $shadow-green);

  margin: 1em auto;
  overflow: hidden;
}

.ant-btn.SelectHandle__footerBtn[disabled],
.ant-btn.CreateRegistration__footerBtn[disabled] {
  @include button($light-gray, $light-gray, $dark-gray, $dark-gray);

  span {
    color: $gray;
  }
}

.ant-collapse-borderless {
  background-color: $white !important;
}

.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: none !important;
}

.ant-tabs-tab-btn {
  font-size: 20px;
  font-weight: bold;
}

.anticon.CreateRegistration__errorIcon {
  color: $red;
}

.anticon.RegistrationModal__successIcon {
  color: $shadow-green;
}

.ant-alert {
  margin-bottom: 1em;
}
