.ant-btn.Login__loginButton,
.ant-btn.Login__logOutButton {
  border-radius: 6px;
  padding: 0 30px;
  background-color: $black;
  color: $white;
  border-color: $black;

  &:hover, &:active, &:focus {
    color: $green;
    background-color: $black;
    border-color: $green;
  }
}

.ant-spin.Login__spinner {
  padding-left: 8px;
}

.ant-alert.Login__alert {
  margin-right: 8px;
}

.ant-btn.FollowersFollowingUsers__button {
  height: 27px;
  width: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.ant-btn.FollowersFollowing__button {
  border: solid $black;
  background: $black;
  color: $white;
  border-width: 2px 2px 2px 1px;
  border-radius: 0 8px 8px 0;
  height: auto;

  &:focus {
    border-color: $black;
    background: $black;
    color: $white;
  }

  &:hover, &:active {
    border-color: $black;
    background: $white;
    color: $black;
  }
}

.FollowersFollowing__buttonBlock .ant-btn:first-child {
  border-radius: 8px 0 0 8px;
  border-width: 2px 1px 2px 2px;
}

.ant-btn.Profile__editButton {
  background-color: $green;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 12px;
  height: 24px;
  border: $gray 0 solid;

  &:active, &:focus, &:hover {
    color: $black;
    background-color: $light-gray;
    border: $gray 1px solid;
  }
}

.ant-btn.FollowersFollowing__button--active {
  color: $black !important;
  background: $white !important;
}
