.ant-btn.LoginButton__loginButton,
.ant-btn.Login__logOutButton {
  border-radius: 6px;
  padding: 0 30px;
  background-color: $black;
  color: $white;
  border-color: $black;

  &:hover, &:active, &:focus {
    color: $green;
    background-color: $black;
    border-color: $green;
  }
}

.ant-spin.Login__spinner {
  padding-left: 8px;
}

.ant-alert.Login__alert {
  margin-right: 8px;
}

.ant-btn.ConnectionsListProfiles__button {
  height: 27px;
  width: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.ant-btn.ConnectionsList__button {
  border: solid $black;
  background: $black;
  color: $white;
  border-width: 2px 2px 2px 1px;
  border-radius: 0 8px 8px 0;
  height: auto;

  &:focus {
    border-color: $black;
    background: $black;
    color: $white;
  }

  &:hover, &:active {
    border-color: $black;
    background: $white;
    color: $black;
  }
}

.ConnectionsList__buttonBlock .ant-btn:first-child {
  border-radius: 8px 0 0 8px;
  border-width: 2px 1px 2px 2px;
}

.ant-btn.ProfileBlock__editButton {
  @include button($shadow-green, $green);
  padding: 0 10px;
  font-size: 12px;
  height: 24px;
}

.ant-btn.ConnectionsList__button--active {
  color: $black !important;
  background: $white !important;
}

.ant-btn.Feed__newPostButton {
  @include button($shadow-green, $green);
}

.ant-btn.NewPost__footerBtn {
  @include button($shadow-green, $green);
}

.ant-input.NewPostImageUpload__urlInput {
  margin: 0 10px;
}

.ant-btn.NewPostImageUpload__urlInputBtn {
  @include button($gray, $light-gray);
  height: inherit;
}

.ant-spin.NewPostImageUpload__spinner {
  display: flex;
  margin: 10px 10px 0 0;
}

.ant-alert.NewPostImageUpload__alert {
  margin-top: 16px;
}

.anticon.NewPostImageUpload__imageDelete {
  font-size: 20px;
}

.ant-input:focus,
.ant-input:hover {
  border-color: $dark-gray !important;
}

.ant-input:focus {
  box-shadow: 0 0 0 2px $gray !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $shadow-green !important;
}

.ant-tabs-tab-btn:hover,
.ant-tabs-tab-remove:hover,
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: $shadow-green !important;
}

.ant-tabs-ink-bar {
  background: $shadow-green !important;
}

a {
  color: $shadow-green !important;
}

.ant-card.Post__block {
  margin: 8px 0;
  width: auto;
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0 !important;
}

.ant-input.PostReply__input {
  border: none;
}

.ant-input.PostReply__input:focus {
  box-shadow: none !important;
}

.slick-dots {
  padding-bottom: 10px;
  &>* {
    height: 15px !important;

    button {
      height: 15px !important;
      border-radius: 8px !important;
      border: 1px solid $black !important;
    }
  }
}

.ant-card-body {
  padding: 0 !important;
}
