.ant-btn.LoginButton__loginButton,
.ant-btn.Login__logOutButton {
  border-radius: 6px;
  padding: 0 30px;
  background-color: $dark-gray;
  color: $white;
  border-color: $dark-gray;

  &:hover, &:active, &:focus {
    color: $dark-orange;
    background-color: $dark-gray;
    border-color: $dark-orange;
  }
}

.ant-spin.Login__spinner {
  padding-left: 8px;
}

.ant-alert.Login__alert {
  margin-right: 8px;
}

.ant-btn.ConnectionsListProfiles__button {
  height: 27px;
  width: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.ant-input:focus,
.ant-input:hover {
  border-color: $dark-gray !important;
}

.ant-input:focus {
  box-shadow: 0 0 0 2px $gray !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $dark-orange !important;
}

.ant-tabs-tab-btn:hover,
.ant-tabs-tab-remove:hover,
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: $dark-orange !important;
}

.ant-tabs-ink-bar {
  background: $dark-orange !important;
}

a {
  color: $dark-orange !important;
}

.ant-card.Post__block {
  margin: 24px 0;
  width: auto;
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0 !important;
}

.slick-dots {
  position: relative !important;
  padding: 10px 0 0 0 !important;
  &>* {
    height: 15px !important;

    button {
      height: 15px !important;
      border-radius: 8px !important;
      border: none !important;
      background: $dark-orange !important;
    }
  }
}

.slick-dots-bottom {
  bottom: 0 !important;
}

.ant-card-body {
  padding: 0 !important;
}
