.Feed__block {
  background-color: $white;
  border-radius: 25px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
}

.Feed__header {
  display: flex;
  justify-content: space-between;
}
