.Header__block {
  background-color: $white;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.Header__title {
  margin: 0;
  font-style: italic;
}
