@import "theme/colors";
@import "theme/typography";
@import "theme/buttons";
@import "theme/antd-overrides";
@import "theme/kss-styleguide-classes";
@import "./components/scss/Header";
@import "./components/scss/Login";
@import "components/scss/ProfileBlock";
@import "./components/scss/Feed";
@import "./components/scss/NewPost";
@import "./components/scss/NewPostImageUpload";
@import "./components/scss/Post";
@import "./components/scss/PostMedia";
@import "./components/scss/ConnectionsList";
@import "./components/scss/ConnectionsListProfiles";
@import "./components/scss/RelativeTime";
@import "./components/scss/PostReply";

.App__content {
  display: flex;
  justify-content: center;
}
