@import "theme/colors";
@import "theme/typography";
@import "theme/mixins";
@import "theme/buttons";
@import "theme/antd-overrides";
@import "theme/kss-styleguide-classes";
@import "./components/scss/GraphChangeButton";
@import "./components/scss/Header";
@import "./components/scss/Login";
@import "components/scss/LoginModal";
@import "components/scss/ProfileBlock";
@import "./components/scss/Feed";
@import "components/scss/FromTitle";
@import "./components/scss/NewPost";
@import "./components/scss/NewPostImageUpload";
@import "./components/scss/Post";
@import "./components/scss/PostHashDropdown";
@import "./components/scss/Profile";
@import "./components/scss/BlankPost";
@import "./components/scss/PostMedia";
@import "./components/scss/RegistrationModal";
@import "./components/scss/ConnectionsList";
@import "./components/scss/ConnectionsListProfiles";
@import "./components/scss/RelativeTime";
@import "components/scss/ReplyBlock";
@import "components/scss/ReplyInput";
@import "components/scss/Reply";
@import "components/scss/BlankReply";
@import "components/scss/EditRegistrationAccordion";
@import "components/scss/EditRegistration";
@import "components/scss/EditAvatarModal";

.App__content {
  display: flex;
  justify-content: center;
}

code {
  background-color: $gray;
}
