.ant-btn.Login__loginButton,
.ant-btn.Login__logOutButton {
  border-radius: 6px;
  padding: 0 30px;
  background-color: #111;
  color: #fff;
  border-color: #111;
}
.ant-btn.Login__loginButton:hover, .ant-btn.Login__loginButton:active, .ant-btn.Login__loginButton:focus,
.ant-btn.Login__logOutButton:hover,
.ant-btn.Login__logOutButton:active,
.ant-btn.Login__logOutButton:focus {
  color: #26e990;
  background-color: #111;
  border-color: #26e990;
}

.ant-spin.Login__spinner {
  padding-left: 8px;
}

.ant-alert.Login__alert {
  margin-right: 8px;
}

.ant-btn.ConnectionsListProfiles__button {
  height: 27px;
  width: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.ant-btn.ConnectionsList__button {
  border: solid #111;
  background: #111;
  color: #fff;
  border-width: 2px 2px 2px 1px;
  border-radius: 0 8px 8px 0;
  height: auto;
}
.ant-btn.ConnectionsList__button:focus {
  border-color: #111;
  background: #111;
  color: #fff;
}
.ant-btn.ConnectionsList__button:hover, .ant-btn.ConnectionsList__button:active {
  border-color: #111;
  background: #fff;
  color: #111;
}

.ConnectionsList__buttonBlock .ant-btn:first-child {
  border-radius: 8px 0 0 8px;
  border-width: 2px 1px 2px 2px;
}

.ant-btn.ProfileBlock__editButton {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(#1dcf76, #26e990);
  border: none;
  color: #111;
  padding: 0 10px;
  font-size: 12px;
  height: 24px;
}
.ant-btn.ProfileBlock__editButton:hover, .ant-btn.ProfileBlock__editButton:active, .ant-btn.ProfileBlock__editButton:focus {
  background-image: linear-gradient(#26e990, #1dcf76);
  color: #111;
  border: none;
}

.ant-btn.ConnectionsList__button--active {
  color: #111 !important;
  background: #fff !important;
}

.ant-btn.Feed__newPostButton {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(#1dcf76, #26e990);
  border: none;
  color: #111;
}
.ant-btn.Feed__newPostButton:hover, .ant-btn.Feed__newPostButton:active, .ant-btn.Feed__newPostButton:focus {
  background-image: linear-gradient(#26e990, #1dcf76);
  color: #111;
  border: none;
}

.ant-btn.NewPost__footerBtn {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(#1dcf76, #26e990);
  border: none;
  color: #111;
}
.ant-btn.NewPost__footerBtn:hover, .ant-btn.NewPost__footerBtn:active, .ant-btn.NewPost__footerBtn:focus {
  background-image: linear-gradient(#26e990, #1dcf76);
  color: #111;
  border: none;
}

.ant-input.NewPostImageUpload__urlInput {
  margin: 0 10px;
}

.ant-btn.NewPostImageUpload__urlInputBtn {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(#d3d3d3, #f0f0f0);
  border: none;
  color: #111;
  height: inherit;
}
.ant-btn.NewPostImageUpload__urlInputBtn:hover, .ant-btn.NewPostImageUpload__urlInputBtn:active, .ant-btn.NewPostImageUpload__urlInputBtn:focus {
  background-image: linear-gradient(#f0f0f0, #d3d3d3);
  color: #111;
  border: none;
}

.ant-spin.NewPostImageUpload__spinner {
  display: flex;
  margin: 10px 10px 0 0;
}

.ant-alert.NewPostImageUpload__alert {
  margin-top: 16px;
}

.anticon.NewPostImageUpload__imageDelete {
  font-size: 20px;
}

.ant-input:focus,
.ant-input:hover {
  border-color: #404040 !important;
}

.ant-input:focus {
  box-shadow: 0 0 0 2px #d3d3d3 !important;
}

.ExtraLargeText {
  font-size: 34px;
}

.LargeText {
  font-size: 24px;
}

.MediumText {
  font-size: 18px;
}

.SmallText {
  font-size: 13px;
}

.BoldText {
  font-weight: 550;
}

.Header__block {
  background-color: #fff;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.Header__title {
  margin: 0;
  font-style: italic;
}

.Login__block {
  display: flex;
}

.Login__walletIcon {
  height: 32px;
  padding-right: 8px;
}

.ProfileBlock__block {
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  max-width: 475px;
  height: min-content;
  border-radius: 25px;
}

.ProfileBlock__personalInfoBlock {
  display: flex;
  justify-content: space-between;
}

.ProfileBlock__avatarBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileBlock__personalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 12px 16px;
  height: 172px;
}

.ProfileBlock__personalInfoLabel {
  color: #7a7a7a;
  line-height: 1;
}

.ProfileBlock__name {
  font-size: 24px;
  font-weight: 550;
  background: none;
  border-color: rgba(0, 0, 0, 0);
  line-height: 1;
  margin-bottom: 16px;
}

.ProfileBlock__handle {
  font-size: 18px;
  font-weight: 550;
  background: none;
  border-color: rgba(0, 0, 0, 0);
  line-height: 1;
  margin-bottom: 16px;
}

.ProfileBlock__socialAddress {
  font-size: 13px;
  font-weight: 550;
  background: none;
  border-color: rgba(0, 0, 0, 0);
  line-height: 1;
}

.ProfileBlock__editButton {
  width: 70px;
  margin-top: 12px;
  text-transform: uppercase;
}

.ProfileBlock__editing {
  background-color: #d3d3d3;
}
.ProfileBlock__editing:focus {
  outline: none !important;
}

.ProfileBlock__loginText {
  font-size: 34px;
  margin: 0 auto;
  color: #404040;
  line-height: 1.3;
}

.Feed__block {
  background-color: #fff;
  border-radius: 25px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
}

.Feed__header {
  display: flex;
  justify-content: space-between;
}

.NewPost__profileBlock {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.NewPost__profileBlockName {
  margin: 0 0 0 8px;
}

.NewPostImageUpload__urlInputBlock {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-top: 16px;
}

.NewPostImageUpload__icon {
  height: inherit;
}

.NewPostImageUpload__cover {
  background-color: #fff;
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 0;
  margin-top: 10px;
  scrollbar-width: none;
  /* Firefox */
}
.NewPostImageUpload__cover::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.NewPostImageUpload__imageBlock {
  position: relative;
}

.NewPostImageUpload__image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.NewPostImageUpload__spinner {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #d3d3d3;
}

.NewPostImageUpload__imageDelete {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 25px;
  width: 25px;
}
.NewPostImageUpload__imageDelete:hover {
  cursor: pointer;
}

.ConnectionsList__buttonBlock {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.ConnectionsList__button {
  border-radius: 10px;
  width: 140px;
}

.ConnectionsList__buttonCount {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: -5px;
  line-height: 1;
}

.ConnectionsList__buttonSeparator {
  height: inherit;
  width: 2px;
  background-color: #26e990;
}

.ConnectionsListProfiles__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.ConnectionsListProfiles__name {
  flex: 1;
  margin: 0 16px;
  overflow: hidden;
}

.ConnectionsListProfiles__buttonFollowIcon {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.ConnectionsListProfiles__buttonUnfollowIcon {
  transform: rotate(45deg);
}

.ConnectionsListProfiles__button[name=Unfollow]:hover, .ConnectionsListProfiles__button[name=Unfollow]:active, .ConnectionsListProfiles__button[name=Unfollow]:focus {
  color: #111;
  border-color: #26e990;
  background-color: #f0f0f0;
}

.ConnectionsListProfiles__button[name=Follow] {
  background-color: #111;
  color: #fff;
}
.ConnectionsListProfiles__button[name=Follow]:hover, .ConnectionsListProfiles__button[name=Follow]:active, .ConnectionsListProfiles__button[name=Follow]:focus {
  color: #fff;
  border-color: #26e990;
  background-color: #404040;
}

.App__content {
  display: flex;
  justify-content: space-around;
}

/*# sourceMappingURL=App.css.map */
